<footer class="footer">
    <div class="container">
        <p class="text-muted">
            <a href="https://www.twitter.com/">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/">
                <i class="fa fa-facebook-square fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/">
                <i class="fa fa-instagram fa-2x"></i>
            </a>
            Place footer content here.
        </p>
    </div>
</footer>
